/node_modules
/docs/**/*.html
/public/hot
/public/storage
/public/**/*
!/public/.exists
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
